/* Table Basic Structure */
.listingtable {
   font-size   : 0.75em;
   font-weight : normal;
   border      : 1px var(--grey) solid;
   margin      : 0.625em;
}
  
/* Table Header */
.listingtable th {
   height      : 2.1875em;
   padding      : 0em 0.3125em;
   color		   : var(--white);
   background  : var(--darkblue);
}

/* Table Rows */
.listingtable tr {
   height         : 1.875em;
}      

/* Table Data */
.listingtable td {
   padding     : 0em 0.3125em;
   overflow-wrap  : anywhere;
}      

/* Table Hyperlink */
.listingtable a {
   color		         : var(--darkblue);
}
